<mat-card>
  <button mat-button>All</button>
  <a mat-raised-button href="" color="primary">Raised Button</a>
  <mat-card>
      <mat-card-header>
          <img matCardAvatar src="Avatar source">
          <mat-card-title>Title</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
      </mat-card-header>
      <img matCardImage src="Card wide image source">
      <mat-card-content>
          Text content
      </mat-card-content>
      <mat-card-actions align="start">
          <button mat-button >Action1</button>
          <button mat-button >Action2</button>
          
      </mat-card-actions>
      <mat-card-footer>
          Footer
      </mat-card-footer>
  </mat-card>
</mat-card>
<router-outlet></router-outlet>
